include CHANGELOG.md LICENSE README.md
include mkdocs.yml
recursive-include docs *.md
recursive-include examples *.toml
recursive-include compatibility *.json *.md *.toml
recursive-include catalog *.json *.toml
recursive-include scripts *.py
recursive-include schemas *.json
recursive-include tests *.py
